<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ImageResizer.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="resize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="interpolation" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="aspectratio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slider" serializeAs="String">
                <value>100</value>
            </setting>
        </ImageResizer.Properties.Settings>
    </userSettings>
</configuration>